<?xml version="1.0" encoding="UTF-8"?>
<server description="Liberty Basis-Konfiguration">

    <featureManager>
        <feature>concurrent-1.0</feature>
        <feature>jndi-1.0</feature>
        <feature>localConnector-1.0</feature>
        <!--feature>ssl-1.0</feature-->
    </featureManager>

    <logging consoleLogLevel="INFO" maxFileSize="50" maxFiles="10" traceFormat="ADVANCED" />
    <webAppSecurity logoutOnHttpSessionExpire="true" ssoCookieName="${wl_cookiename}" />
    <webContainer deferServletLoad="false" />
    <applicationMonitor dropins="dropins" dropinsEnabled="true" pollingRate="5000ms" updateTrigger="polled" />

    <include location="${server_home}/appl/wl_config/appl.xml" />

    <!-- sslOptionsRef="defaultSSLConfig" -->
    <httpEndpoint host="${wl_hostname}" httpPort="${wl_httpPort}" httpsPort="${wl_httpsPort}" id="defaultHttpEndpoint">
        <tcpOptions soReuseAddr="true" />
    </httpEndpoint>
    <httpOptions removeServerHeader="true" />
    <httpDispatcher appOrContextRootMissingMessage="nothing here" enableWelcomePage="false" />

    <!-- defaultSSLSettings-->
    <!--keyStore id="defaultKeyStore" location="${server_home}/resources/security/key-default.jks" password="..." readOnly="true" type="jks" />
    <keyStore id="defaultTrustStore" location="${server_home}/resources/security/trust-default.jks" password="..." readOnly="true" type="jks" />

    <ssl id="defaultSSLSettings" clientAuthentication="false" clientAuthenticationSupported="false" keyStoreRef="defaultKeyStore"
        trustStoreRef="defaultTrustStore"
        securityLevel="HIGH" sslProtocol="TLSv1.2" />

    <sslDefault sslRef="defaultSSLSettings" />
    <sslOptions id="defaultSSLConfig" sslRef="defaultSSLSettings" /-->

</server>
