<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE Configuration>
<server description="Demo für REST-Services">

	<featureManager>
		<feature>jaxrs-2.0</feature>
		<feature>jsonp-1.0</feature>
	</featureManager>

	<httpEndpoint id="defaultHttpEndpoint" httpPort="${default.http.port}" httpsPort="${default.https.port}" host="localhost" />

	<webApplication location="liberty-rest.war" contextRoot="${app.context.root}" />
</server>