<server description="new server">

    <!-- Enable features -->
    <featureManager>
        <feature>jsp-2.2</feature>
    </featureManager>

    <httpEndpoint id="defaultHttpEndpoint" host="localhost" httpPort="9090" httpsPort="9443" />

    <!--Application contextRoot="helloworld" location="helloworld.war" />
    <application context-root="helloworld" type="war" id="helloworld"  name="helloworld" location="helloworld.war" /-->
</server>