<?xml version="1.0" encoding="UTF-8"?>
<server description="Demo für Spring-Services">

    <featureManager>
        <feature>jdbc-4.3</feature>
        <feature>jndi-1.0</feature>
        <feature>servlet-6.0</feature>
    </featureManager>

    <!--library id="applicationLib">
        <fileset dir="${server.config.dir}/apps_libs" includes="*.*" excludes="hsqldb*.jar"
        />
        <folder dir="${server.config.dir}/apps_resources" />
        </library -->

    <httpEndpoint id="defaultHttpEndpoint" httpPort="9090" httpsPort="9493" host="localhost">
        <tcpOptions soReuseAddr="true" />
    </httpEndpoint>

    <webApplication id="liberty-spring" name="liberty-spring" location="liberty-spring.war" contextRoot="liberty-spring">
        <!--classloader commonLibraryRef="applicationLib" / -->
    </webApplication>

    <include location="${server.config.dir}/dataSources.xml" optional="false" />
</server>
