<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
         
	<display-name>SecretNews</display-name>

	<welcome-file-list>
        <!--welcome-file>showsecretnews</welcome-file-->
		<welcome-file>index.xhtml</welcome-file>
	</welcome-file-list>
    
    <!-- JBoss für REST-Security konfigurieren -->
    <!--context-param>
        <param-name>resteasy.scan</param-name>
        <param-value>true</param-value>
    </context-param-->
    <!--context-param>
        <param-name>resteasy.role.based.security</param-name>
        <param-value>true</param-value>
    </context-param-->
    <!--listener>
      <listener-class>org.resteasy.plugins.server.servlet.ResteasyBootstrap</listener-class>
    </listener-->

	<servlet>
		<servlet-name>Faces Servlet</servlet-name>
		<servlet-class>javax.faces.webapp.FacesServlet</servlet-class>
		<load-on-startup>1</load-on-startup>
	</servlet>
	<servlet-mapping>
		<servlet-name>Faces Servlet</servlet-name>
		<url-pattern>/jsf/*</url-pattern>
	</servlet-mapping>
	<!--session-config>
		<session-timeout>5</session-timeout>
	</session-config-->
    <!--security-constraint>
        <web-resource-collection>
            <web-resource-name>SecretNews</web-resource-name>
            <url-pattern>/faces/showSecretNews4High.xhtml</url-pattern>
            <http-method>GET</http-method>
            <http-method>POST</http-method>
        </web-resource-collection>
        <auth-constraint>
            <role-name>AgentPortalRoleHigh</role-name>
        </auth-constraint>
        <user-data-constraint>
            <transport-guarantee>NONE</transport-guarantee>
        </user-data-constraint>
    </security-constraint>
    <security-constraint>
        <web-resource-collection>
            <web-resource-name>SecretNews</web-resource-name>
            <url-pattern>/faces/showSecretNews4Low.xhtml</url-pattern>
            <http-method>GET</http-method>
            <http-method>POST</http-method>
        </web-resource-collection>
        <auth-constraint>
            <role-name>AgentPortalRoleHigh</role-name>
            <role-name>AgentPortalRoleLow</role-name>
        </auth-constraint>
        <user-data-constraint>
            <transport-guarantee>NONE</transport-guarantee>
        </user-data-constraint>
    </security-constraint-->
    <!--security-constraint>
        <web-resource-collection>
            <web-resource-name>SecretNews</web-resource-name>
            <url-pattern>/rest</url-pattern>
            <http-method>DELETE</http-method>
            <http-method>GET</http-method>
            <http-method>POST</http-method>
            <http-method>PUT</http-method>
            <http-method>HEAD</http-method>
        </web-resource-collection>
        <auth-constraint>
            <role-name>AgentPortalRoleHigh</role-name>
            <role-name>AgentPortalRoleLow</role-name>
        </auth-constraint>
        <user-data-constraint>
            <transport-guarantee>NONE</transport-guarantee>
        </user-data-constraint>
    </security-constraint-->
        <!-- REST -->
        <!--auth-method>BASIC</auth-method-->
        <!-- Web-App -->    
    <!--login-config>
        <auth-method>FORM</auth-method>
        <realm-name>Secret News - Form Authentication</realm-name>
        <form-login-config>
            <form-login-page>/login.html</form-login-page>
            <form-error-page>/error.html</form-error-page>
        </form-login-config>
    </login-config-->
    <!--security-role>
        <role-name>AgentPortalRoleHigh</role-name>
    </security-role>
    <security-role>
        <role-name>AgentPortalRoleLow</role-name>
    </security-role-->
</web-app>
