<?xml version="1.0" encoding="UTF-8"?>
<server description="Demo for OpenLiberty">

    <featureManager>
        <platform>jakartaee-10.0</platform>
        <feature>concurrent</feature>
        <feature>enterpriseBeans</feature>
        <feature>jdbc</feature>
        <feature>jsonb</feature>
        <feature>jsonp</feature>
        <!-- <feature>persistence</feature> -->
        <feature>restfulWS</feature>
        <feature>xmlBinding</feature>

        <feature>mpOpenAPI-3.1</feature>
    </featureManager>

    <webApplication location="liberty-demo.war" contextRoot="${context.root}" />
    <mpOpenAPI docPath="${context.root}/openapi" uiPath="${context.root}/openapi/ui" />

    <httpEndpoint id="defaultHttpEndpoint" host="localhost" httpPort="${http.port}" httpsPort="${https.port}">
        <tcpOptions soReuseAddr="true" />
    </httpEndpoint>

    <executor coreThreads="4" maxThreads="8" />

    <library id="h2Driver">
        <fileset dir="${server.config.dir}/appl/libs" includes="h2-*.jar" />
    </library>

    <databaseStore id="defaultDatabaseStore" dataSourceRef="dbDS" />

    <authData id="authDataDB" user="sa" password="seecreet" />
    <dataSource
            id="dbDS"
            jndiName="jdbc/dbDS"
            containerAuthDataRef="authDataDB"
    >
        <!-- containerAuthDataRef="authDataDB" -->
        <!-- <containerAuthData user="${datasource.user}" password="${datasource.pwd}"></containerAuthData> -->
        <jdbcDriver
                libraryRef="h2Driver"
                javax.sql.XADataSource="org.h2.jdbcx.JdbcDataSource" />
        <properties
                url="jdbc:h2:mem:liberty;DB_CLOSE_DELAY=0;DB_CLOSE_ON_EXIT=true"
        />
        <!-- user="sa" -->
        <!-- password="" -->
        <connectionManager
                minPoolSize="1"
                maxPoolSize="3"
                maxIdleTime="10m"
                connectionTimeout="10s" />
    </dataSource>
</server>
