<?xml version="1.0" encoding="UTF-8"?>
<server description="Demo for OpenLiberty">

    <featureManager>
        <!-- Enable ALL -->
        <!-- <feature>jakartaee-10.0</feature> -->

        <platform>jakartaee-10.0</platform>

        <feature>jdbc</feature>
        <feature>servlet</feature>

        <!-- Not part of the JakartaEE-Platform. -->
        <feature>jndi-1.0</feature>
        <!-- <feature>springBoot-3.0</feature> -->
    </featureManager>

    <include location="${server.config.dir}/dataSources.xml" optional="false" />

    <httpEndpoint id="defaultHttpEndpoint" httpPort="${http.port}" httpsPort="${https.port}" host="localhost">
        <tcpOptions soReuseAddr="true" />
    </httpEndpoint>

    <webApplication id="liberty-spring" name="liberty-spring" location="liberty-spring.war" contextRoot="${context.root}" />

    <executor coreThreads="4" maxThreads="8" />
</server>
