<?xml version="1.0" encoding="UTF-8"?>
<server description="Demo for Spring-Services">

    <featureManager>
        <!-- <feature>jakartaee-10</feature> -->
        <feature>jdbc-4.3</feature>
        <feature>jndi-1.0</feature>
        <feature>servlet-6.0</feature>
        <!-- <feature>springBoot-3.0</feature> -->
    </featureManager>

    <!--library id="applicationLib">
        <fileset dir="${server.config.dir}/apps_libs" includes="*.*" excludes="h2*.jar"
        />
        <folder dir="${server.config.dir}/apps_resources" />
        </library -->

    <httpEndpoint id="defaultHttpEndpoint" httpPort="${http.port}" httpsPort="${https.port}" host="localhost">
        <tcpOptions soReuseAddr="true" />
    </httpEndpoint>

    <webApplication id="liberty-spring" name="liberty-spring" location="liberty-spring.war" contextRoot="${context.root}">
        <!--classloader commonLibraryRef="applicationLib" / -->
    </webApplication>

    <include location="${server.config.dir}/dataSources.xml" optional="false" />
</server>
