<?xml version="1.0" encoding="UTF-8"?>
<!-- shutdownHook="disable" verhindert, das der DB-Appender versucht was zu schreiben, obwohl die Datasource bereits geschlossen ist. -->
<Configuration xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" name="Default" status="WARN" shutdownHook="disable" strict="true"
               xmlns="https://logging.apache.org/xml/ns"
               xsi:schemaLocation="https://logging.apache.org/xml/ns https://logging.apache.org/xml/ns/log4j-config-2.xsd">

    <Properties>
        <!-- Levels are ordered: TRACE < DEBUG < INFO < WARN < ERROR -->
        <!-- %date{yyyy-MM-dd HH:mm:ss.SSS}; [%-7X{USER}]; [%method:%line] -->
        <!-- Default if empty: %equals{%X{USER}}{}{SYSTEM}; %X{USER:-SYSTEM} funktioniert nicht mehr ? -->
        <!-- Postfix if not empty: %notEmpty{%X{USER} -} -->
        <Property name="PATTERN" value="%date{HH:mm:ss.SSS} - %5level - [%30.-30thread] - %replace{%-40.-40logger{0}}{ }{.} - %message%n" />

        <Property name="LOG_DIRECTORY" value="${LOG_DIR:-${sys:server_home}/appl_logs}" />
        <Property name="LOG_FILE_NAME" value="${LOG_FILE:-application}" />

        <Property name="fileRollover" value="${LOG_FILE_MAX_HISTORY:-30}" />
        <Property name="fileMaxSize" value="${LOG_FILE_MAX_SIZE:-10 MB}" />
        <Property name="fileMaxAge" value="${LOG_FILE_MAX_AGE:-30d}" />

    </Properties>

    <!-- ######################################################################################################################################## -->

    <Appenders>
        <Console name="ConsoleAppenderOut" target="SYSTEM_OUT">
            <Filters>
                <ThresholdFilter level="ERROR" onMatch="DENY" onMismatch="ACCEPT" />
            </Filters>

            <PatternLayout pattern="${PATTERN_CONSOLE:-${PATTERN}}" />
        </Console>

        <Console name="ConsoleAppenderErr" target="SYSTEM_ERR">
            <Filters>
                <ThresholdFilter level="ERROR" onMatch="ACCEPT" onMismatch="DENY" />
            </Filters>

            <PatternLayout pattern="${PATTERN_CONSOLE:-${PATTERN}}" />
        </Console>

        <!-- /${date:yyyy-MM}/ -->
        <RollingFile name="FileAppender" fileName="${LOG_DIRECTORY}/${LOG_FILE_NAME}.log"
                     filePattern="${LOG_DIRECTORY}/archiv/${LOG_FILE_NAME}_%d{yyyy-MM-dd}_%i.log.gz"
                     append="true"
                     immediateFlush="true"
                     bufferSize="4096">
            <PatternLayout pattern="${PATTERN_FILE:-${PATTERN}}" />

            <DefaultRolloverStrategy max="${fileRollover}">
                <Delete basePath="${LOG_DIRECTORY}" maxDepth="2">
                    <IfFileName glob="*/${LOG_FILE_NAME}_*.log.gz" />
                    <IfLastModified age="${fileMaxAge}" />
                </Delete>
            </DefaultRolloverStrategy>

            <Policies>
                <!--OnStartupTriggeringPolicy / -->
                <TimeBasedTriggeringPolicy />
                <SizeBasedTriggeringPolicy size="${fileMaxSize}" />
            </Policies>
        </RollingFile>

        <Async name="FileAppenderAsync">
            <AppenderRef ref="FileAppender" />
        </Async>

        <!-- <JDBC name="DatabaseAppender" tableName="LOGGING" bufferSize="3"> -->
        <!--     <Column name="ID" literal="next value for LOGGING_SEQUENCE" /> -->
        <!--     <Column name="EVENT_DATE" isEventTimestamp="true" /> -->
        <!--     <Column name="HOST" pattern="${sys:HOSTNAME:-localhost}" /> -->
        <!--     <Column name="MODUL" pattern="%X{modul}" /> -->
        <!--     <Column name="LEVEL" pattern="%level" /> -->
        <!--     <Column name="THREAD" pattern="%thread" /> -->
        <!--     <Column name="USER_ID" pattern="%equals{%X{USERID}}{}{SYSTEM}" /> -->
        <!--     <Column name="MARKER" pattern="%marker" /> -->
        <!--     <Column name="LOGGER" pattern="%logger" /> -->
        <!--     <Column name="MESSAGE" pattern="%maxLen{%message}{1997}" />&lt;!&ndash; log4j2 hängt '...' an abgeschnittene Strings &ndash;&gt; -->
        <!--     <Column name="THROWABLE" pattern="%maxLen{%exception{full}}{3997}" /> -->

        <!--     &lt;!&ndash;<DataSource jndiName="java:comp/env/jdbc/logging" />&ndash;&gt; -->
        <!--     <ConnectionFactory class="de.freese.logging.ConnectionFactory" method="getDatabaseConnection" /> -->
        <!-- </JDBC> -->

        <!-- &lt;!&ndash; Der Modulname wird für den JdbcAppender benötigt &ndash;&gt; -->
        <!-- <Rewrite name="DatabaseAppenderMyModule"> -->
        <!--     <PropertiesRewritePolicy> -->
        <!--         <Property name="modul" value="MY_MODULE" /> -->
        <!--     </PropertiesRewritePolicy> -->

        <!--     <AppenderRef ref="DatabaseAppender" /> -->
        <!-- </Rewrite> -->

        <!-- <Async name="DatabaseAppenderMyModuleAsync"> -->
        <!--     <AppenderRef ref="DatabaseAppenderMyModule" /> -->
        <!-- </Async> -->
    </Appenders>

    <!-- ######################################################################################################################################## -->

    <Loggers>
        <Root additivity="false" level="INFO">
            <AppenderRef ref="ConsoleAppenderOut" />
            <AppenderRef ref="ConsoleAppenderErr" />
            <AppenderRef ref="FileAppenderAsync" />
        </Root>

        <Logger name="de.freese.liberty" level="INFO">
            <!-- <AppenderRef ref="DatabaseAppenderMyModuleAsync" /> -->
        </Logger>
    </Loggers>

</Configuration>
