<?xml version="1.0" encoding="UTF-8"?>
<server description="Demo for OpenLiberty">

    <featureManager>
        <!-- Enable ALL -->
        <!-- <feature>jakartaee-10.0</feature> -->

        <platform>jakartaee-10.0</platform>

        <feature>enterpriseBeans</feature>
        <feature>faces</feature>
    </featureManager>

    <httpEndpoint id="defaultHttpEndpoint" host="localhost" httpPort="${http.port}" httpsPort="${https.port}" />

    <webApplication location="liberty-login.war" contextRoot="${context.root}" />

    <executor coreThreads="4" maxThreads="8" />
</server>
