<?xml version="1.0" encoding="UTF-8"?>
<server description="Demo for OpenLiberty">

    <featureManager>
        <!-- <feature>jakartaee-10.0</feature> -->
        <feature>restfulWS-3.1</feature>
        <feature>jsonb-3.0</feature>
        <feature>enterpriseBeans-4.0</feature>
        <feature>mpOpenAPI-3.1</feature>
    </featureManager>

    <httpEndpoint id="defaultHttpEndpoint" host="localhost" httpPort="${http.port}" httpsPort="${https.port}" />

    <webApplication location="liberty-rest.war" contextRoot="${context.root}" />

    <mpOpenAPI docPath="${context.root}/openapi" uiPath="${context.root}/openapi/ui" />

    <executor coreThreads="4" maxThreads="8" />
</server>
