<?xml version="1.0" encoding="UTF-8"?>
<server description="Demo for REST-Services">

    <featureManager>
        <!-- <feature>jakartaee-10</feature> -->
        <feature>restfulWS-3.0</feature>
        <feature>jsonb-2.0</feature>
    </featureManager>

    <httpEndpoint id="defaultHttpEndpoint" host="localhost" httpPort="${http.port}" httpsPort="${https.port}" />

    <webApplication location="liberty-rest.war" contextRoot="${context.root}" />
</server>
